USE [DMAC_LOJA_BACKUP_2]
GO
/****** Object:  Table [dbo].[modalidade]    Script Date: 15/04/2016 15:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
drop table modalidade
CREATE TABLE [dbo].[modalidade](
	[MO_Grupo] [int] NOT NULL,
	[MO_Descricao] [nvarchar](60) NULL,
	[MO_AtualizaPDV] [nvarchar](2) NULL,
	[MO_OrdemApresentacao] [varchar](6) NULL,
	[MO_TipoPag] [char](2) NULL,
	[MO_Bandeira] [char](3) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[modalidade] ([MO_Grupo], [MO_Descricao], [MO_AtualizaPDV], [MO_OrdemApresentacao], [MO_TipoPag], [MO_Bandeira]) VALUES (10000, N'Entrada no Caixa', N'N', N'0', N'99', N'   ')
INSERT [dbo].[modalidade] ([MO_Grupo], [MO_Descricao], [MO_AtualizaPDV], [MO_OrdemApresentacao], [MO_TipoPag], [MO_Bandeira]) VALUES (10101, N'Dinheiro', N'S', N'1', N'01', N'   ')
INSERT [dbo].[modalidade] ([MO_Grupo], [MO_Descricao], [MO_AtualizaPDV], [MO_OrdemApresentacao], [MO_TipoPag], [MO_Bandeira]) VALUES (10201, N'Cheque', N'S', N'2', N'02', N'   ')
GO
